mixin product-item(pet)
  .product-item
    a(href="#")
      .product-item__image
        img(src=pet.image alt=pet.title)
      .product-item__content
        h3(class="product-item__title") #{pet.title}
        .product-item__info
          .product-item__info-item Giống: <b>#{pet.gender}</b>
          .product-item__info-item Tuổi: <b>#{pet.age}</b>
        .product-item__price #{pet.price}

    